[Unit]
Description=NVMe management

[Service]
ExecStart=/usr/sbin/nvme_main
Type=dbus
BusName=xyz.openbmc_project.nvme.manager
SyslogIdentifier=phosphor-nvme

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}